django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
Pillow
psycopg
psycopg2-binary
python-dotenv
scikit-learn
numpy
asgiref
channels
channels_redis
msgpack==1.1.0
PyJWT==2.9.0
python-dotenv==1.0.1
redis==5.2.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
